@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .square-grid {
    display: grid;
    /* 52 weeks (columns) */
    grid-template-columns: repeat(52, 12px);
    grid-gap: 3px;
  }
}
